<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Welcome</h1>
  <form action="../users/collection" method="POST">
    <label for="image">Image: </label>
    <input type="text" name="image" id="" value=" ">
    <input type="submit" name="Add to Collection" value="Add to Collection" id="">
  </form>
</body>

</html> -->